.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
}
.watch-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50px;
    margin-left: 20px;
}
.cart-container{
    background-color: lightsteelblue;
    max-width: 300px;
    position: absolute;
    top: 100px;
    right: 0;
    border-radius: 15px 0 0 15px;
}




 /* Tablet Responsive */
@media only screen and (max-width: 1200px) {
    .shop-container{
        grid-template-columns: 2fr 1fr;
    }
    .watch-container{
        grid-template-columns: repeat(2,1fr);
    }
} 

/* Mobile Responsive */

@media only screen and (max-width: 600px) {
    .shop-container{
        grid-template-columns: 2fr 1fr;
    }
    .watch-container{
        grid-template-columns: repeat(1,1fr);
    }
    .cart-container{
        max-width: 200px;
    }
}