.header{
    background-color: lightslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h3{
    color: white;
    font-size: 35px;
    margin-left: 10px;
}
.header img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-right: 20px;
}
.nav-bar a:hover{
    color: orange;
}